In [81]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import matplotlib.dates as mdates


# Load the Excel file into a DataFrame
file_path = "Trade_Georgia.xlsx"
df = pd.read_excel(file_path)

# Display the first few rows of the DataFrame

df = df.loc[:, ~df.columns.str.contains('^Unnamed')]


df.replace("-", 0, inplace=True)


df.head()

/tmp/ipykernel_20765/1950181578.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace("-", 0, inplace=True)

,Country,EU,CIS,X1995,X1996,X1997,X1998,X1999,X2000,X2001,...,I2015,I2016,I2017,I2018,I2019,I2020,I2021,I2022,I2023,I2024
0,Afghanistan,0,0,26.400,87.611,0.0,0.0,0.00000,3.78,14.77069,...,0.000000,26.488062,1.167150,680.839526,45.000609,644.645860,89.891382,10.925855,0.000000,3.663406
1,Albania,0,0,267.352,0.000,0.0,0.0,110.59570,0.00,178.17744,...,122.951538,14.190191,222.171434,140.552833,145.069121,184.931305,4967.563652,5155.039060,1730.341457,1090.941877
2,Algeria,0,0,0.000,0.000,0.0,0.0,0.00000,0.00,241.05000,...,9.761386,3.732380,7.552200,8.126782,14.088258,135.847670,59.267500,46.016000,18.352609,28.909522
3,Andorra,0,0,0.000,0.000,0.0,0.0,0.00000,0.00,0.00000,...,8.991992,0.000000,0.000000,0.000000,0.000000,2.490748,0.000000,0.000000,0.000000,30.586341
4,Angola,0,0,0.000,0.000,0.0,0.0,311.69229,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.917740,0.000000

In [82]:
# Generate YoY growth variables for X columns
for year in range(1996, 2025):
    df[f'gX{year}'] = df[f'X{year}'] / df[f'X{year-1}']

# Generate YoY growth variables for I columns
for year in range(1996, 2025):
    df[f'gI{year}'] = df[f'I{year}'] / df[f'I{year-1}']



# Display the first few rows to verify
df.head()

,Country,EU,CIS,X1995,X1996,X1997,X1998,X1999,X2000,X2001,...,gI2015,gI2016,gI2017,gI2018,gI2019,gI2020,gI2021,gI2022,gI2023,gI2024
0,Afghanistan,0,0,26.400,87.611,0.0,0.0,0.00000,3.78,14.77069,...,NaN,inf,0.044063,583.335069,0.066096,14.325270,0.139443,0.121545,0.000000,inf
1,Albania,0,0,267.352,0.000,0.0,0.0,110.59570,0.00,178.17744,...,3.301235,0.115413,15.656690,0.632632,1.032132,1.274781,26.861670,1.037740,0.335660,0.630478
2,Algeria,0,0,0.000,0.000,0.0,0.0,0.00000,0.00,241.05000,...,inf,0.382362,2.023427,1.076081,1.733559,9.642617,0.436279,0.776412,0.398831,1.575227
3,Andorra,0,0,0.000,0.000,0.0,0.0,0.00000,0.00,0.00000,...,0.380377,0.000000,NaN,NaN,NaN,inf,0.000000,NaN,NaN,inf
4,Angola,0,0,0.000,0.000,0.0,0.0,311.69229,0.00,0.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf,0.000000

In [83]:
# Calculate the share of each country in X2024 and call is SH2024

df['SHX2024'] = df['X2024'] / df['X2024'].sum() * 100

# Calculate the share of each country in I2024 and call is SH2024
df['SHI2024'] = df['I2024'] / df['I2024'].sum() * 100