In [25]:
import pandas as pd

# Load the Excel file into a DataFrame
file_path = "Trade_Georgia.xlsx"
df = pd.read_excel(file_path)

# Display the first few rows of the DataFrame

df = df.loc[:, ~df.columns.str.contains('^Unnamed')]


df.replace("-", 0, inplace=True)


df.head()

/tmp/ipykernel_20765/3437883698.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace("-", 0, inplace=True)

,Country,EU,CIS,X1995,X1996,X1997,X1998,X1999,X2000,X2001,...,I2016,I2017,I2018,I2019,I2020,I2021,I2022,I2023,I2024,I2025
0,Afghanistan,0,0,26.400,87.611,0.0,0.0,0.00000,3.78,14.77069,...,0.000000,26.488062,1.167150,680.839526,45.000609,644.645860,89.891382,10.925855,0.000000,3.663406
1,Albania,0,0,267.352,0.000,0.0,0.0,110.59570,0.00,178.17744,...,122.951538,14.190191,222.171434,140.552833,145.069121,184.931305,4967.563652,5155.039060,1730.341457,1090.941877
2,Algeria,0,0,0.000,0.000,0.0,0.0,0.00000,0.00,241.05000,...,9.761386,3.732380,7.552200,8.126782,14.088258,135.847670,59.267500,46.016000,18.352609,28.909522
3,Andorra,0,0,0.000,0.000,0.0,0.0,0.00000,0.00,0.00000,...,8.991992,0.000000,0.000000,0.000000,0.000000,2.490748,0.000000,0.000000,0.000000,30.586341
4,Angola,0,0,0.000,0.000,0.0,0.0,311.69229,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.917740,0.000000

In [26]:
# Generate YoY growth variables for X columns
for year in range(1996, 2024):
    df[f'gX{year}'] = df[f'X{year}'] / df[f'X{year-1}']

# Generate YoY growth variables for I columns
for year in range(1996, 2024):
    df[f'gI{year}'] = df[f'I{year}'] / df[f'I{year-1}']




df = df.replace([float('inf'), float('-inf')], float('nan')).dropna()

# Display the first few rows to verify
df.head()

,Country,EU,CIS,X1995,X1996,X1997,X1998,X1999,X2000,X2001,...,gI2014,gI2015,gI2016,gI2017,gI2018,gI2019,gI2020,gI2021,gI2022,gI2023
6,Azerbaijan,0,1,13384.3956,24714.3831,25106.767,18636.228458,16936.794421,20079.64203,9975.81594,...,0.931896,0.976293,0.841198,0.914469,1.151335,1.045227,0.943002,0.918128,1.165976,1.070222
9,Austria,1,0,29.5500,41.8650,155.283,129.582000,448.569614,59.23500,441.03125,...,0.742682,1.176894,1.155869,0.842024,0.900146,1.824089,0.750124,0.664340,1.098024,1.191419
13,Armenia,0,1,18040.0838,21200.3400,19172.294,18023.318326,14990.684952,13580.64681,12508.30365,...,2.576408,1.152593,0.833051,1.238671,1.297452,1.192081,0.798153,1.578015,0.990599,1.466722
15,Belgium,1,0,37.1000,175.5000,2443.996,2046.117000,580.269329,578.88887,6751.53553,...,0.927560,1.099507,0.974705,0.927489,1.217530,1.102014,1.287036,0.759257,1.122619,1.321792
23,Bulgaria,1,0,5657.4290,12180.6040,8753.829,3087.396150,390.056889,2418.29880,575.51295,...,0.717546,1.078773,0.798798,0.897431,1.034661,1.169295,0.684716,0.886134,1.619666,1.136316

In [29]:
#show gX2024
df[['gX2023']].head(10)

      gX2023
6   1.281422
9   1.066165
13  1.347340
15  0.867761
23  0.590087
26  0.671318
35  0.421962
43  1.550474
45  0.495609
54  1.236771